*{
  box-sizing: border-box;
}

img{
position: absolute;
right: 45%;
left: 45%;
top: 27.5%;
}

h1{
position: absolute;
left: 42.5%;
top: 45%;
font-family: inherit;
}

ul{
position: absolute;
left: 22%;
top: 52%;
}

li{
display: inline-block;
padding: 15px;
}

.grid-container{
display: grid;
grid-template-columns: auto auto auto auto auto auto;
grid-gap: 5px;
padding: 10px;
}

.item1{
border: 1px black solid;
position: absolute;
text-align: center;
width: 50%;
left: 24%;

height: 35%;
top: 8.5%;
}

.item2{
border: 1px black solid;
position: absolute;
text-align: center;
width: 50%;
left: 24%;

top: 51%;
height: 75px;
}

.item3{
border: 1px black solid;
position: absolute;
text-align: center;
width: 20%;
left: 24%;

top: 61%;
height: 250px;
}

.item4{
border: 1px black solid;
position: absolute;
text-align: center;
width: 20%;
left: 24%;

top: 89.5%;
height: 250px;
}

.item5{
border: 1px black solid;
position: absolute;
text-align: center;

right: 26%;
width: 29%;
top: 61%;
height: 500px;
}
